.svelte-obsidian
{
    .modal-content
    {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .modal-close-button
    {
        z-index: 1;
    }

    .hidden { visibility: hidden; }
    .hide { display: none !important; }
    .dim { filter: brightness(0.5); }
    .display-contents { display: contents; }
    .color-text-accent { color:var(--text-accent); }
}